data/
models/
.vscode/
foldername/
svm_classifier.ipynb
/open_data
/data_mini
models_scripts/common/__pycache__
.ipynb_checkpoints/
.idea/*
tmp_datafix.ipynb
models_scripts/task2seq/checkpoints/
models_scripts/decoder_training_checkpoints/
data_external/
**.DS_Store
**.idea
**__pycache__
**.venv
/data
/data_archived
**catboost_info
/corpus
